name: Alerta Diário Oficial SP

on:
  schedule:
    - cron: '20 23 * * *'  # 23:20 UTC = 20:20 BRT
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      # 1. Clonar o repositório
      - uses: actions/checkout@v3

      # 2. Configurar Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # 3. Instalar dependências
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests PyMuPDF

      # 4. Rodar o script
      - name: Run Diário Oficial script
        run: python script.py
        env:
          EMAIL_REMETENTE: ${{ secrets.EMAIL_REMETENTE }}
          EMAIL_SENHA: ${{ secrets.EMAIL_SENHA }}
          EMAIL_DESTINO: ${{ secrets.EMAIL_DESTINO }}
