name: Alerta Diário Oficial SP

# Executa o envio conforme horario programado
on:
  schedule:
    - cron: '50 19 * * *'  # 19:50 UTC = 16:50 BRT
  workflow_dispatch:  # permite rodar manualmente também

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      # 1. Clonar o repositório
      - uses: actions/checkout@v3

      # 2. Configurar Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11  # ajuste conforme sua necessidade

      # 3. Instalar dependências
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 PyMuPDF
          pip install selenium webdriver-manager PyMuPDF requests

      # 4. Rodar o script
      - name: Run Diário Oficial script
        run: python script.py
        env:
          EMAIL_REMETENTE: ${{ secrets.EMAIL_REMETENTE }}
          EMAIL_SENHA: ${{ secrets.EMAIL_SENHA }}
          EMAIL_DESTINO: ${{ secrets.EMAIL_DESTINO }}
